{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="vertical-container">
        <div class="horizontal-container">
            <h1>Reset your password</h1>
            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Reset password</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
    {% include 'footer.html.twig' %}
    {% include 'phone.html.twig' %}
{% endblock %}
