/* Variables */
:root {
    --main-font: 'Roboto', sans-serif;
    --main-color: #ffffff;
    --link-color: #ffffff;
    --link-hover-color: #0056b3;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Common styles */
body, .pagerfanta, .footer-text, .pagination__item, .add_imagelink_list, .add_videolink_list, form label, ul.imagelinks label, ul.videolinks label {
    font-family: var(--main-font);
    color: var(--main-color);
}

a, .pagerfanta .previous a, .pagerfanta .next a, .pagerfanta .first a, .pagerfanta .last a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover, .pagerfanta a:hover {
    color: var(--link-hover-color);
}

.text-shadow {
    text-shadow: var(--text-shadow);
}

/* Body */
body {
    background-image: url("../images/wooden.avif");
    background-color: #f5f5f5;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 30em 30em;
}

/* Image background */
.image-background {
    background-image: url("../images/snowboard-background.jpg");
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 40em;
}

/* Message top home */
.message_top_home, h1 {
    color: var(--main-color);
    text-shadow: var(--text-shadow);
}

h1 {
    font-weight: bold;
}

/* Button success */
.btn-success, .btn-success:hover {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

/* Trick grid */
.trick-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
}

.trick-container {
    width: 300px;
    text-align: center;
}

/* Pagerfanta */
.pagerfanta .current {
    color: var(--main-color);
    background-color: var(--link-color);
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
}

.footer-text {
    margin-top: 1em;
}

/* Labels and buttons */
label {
    margin-right: 1em;
}

button {
    margin: 1em;
    color: #000000;
    border-radius: 0.5em;
}

/* Main title */
.main-title, h2.text-viewdetail {
    font-family: var(--main-font);
    color: var(--main-color);
}

.main-title:hover, .main-title-link:hover {
    text-decoration: none;
    color: var(--link-hover-color) !important;
}

.main-title-link {
    text-decoration: none;
}

.main-title-link:hover {
    text-shadow: var(--text-shadow);
}

/* Text view detail */
.text-viewdetail {
    color: var(--main-color);
}


/* Login container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
    padding: 1em;
    justify-content: flex-start;
    text-align: center;
}

/* Input group */
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* For centering items horizontally */
    justify-content: center; /* For centering items vertically */
    height: 100vh; /* Set the container height to the full viewport height */
}

/* Media query for small screens (smartphones) */
@media (max-width: 576px) {
    .login-container {
        padding: 1em 0.5em;
    }
}
