body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/wooden.avif");
    background-color: #f5f5f5;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 30em 30em;
}

.image-background {
    background-image: url("../images/snowboard-background.jpg");
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 40em;
}

.message_top_home {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

.trick-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
}

.trick-container {
    width: 300px;
    text-align: center;
}

.pagerfanta, .footer-text, .pagination__item, .add_imagelink_list, .add_videolink_list {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

form label {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
  }

  ul.imagelinks label,
  ul.videolinks label {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
  }

.pagerfanta .current {
    color: #fff;
    background-color: #007bff;
}

/* Change the color of the previous and next buttons */
.pagerfanta .previous a,
.pagerfanta .next a {
    color: #007bff;
}

/* Change the color for the first and last buttons */
.pagerfanta .first a,
.pagerfanta .last a {
    color: #007bff;
}

/* Change the color of the page numbers when hovering */
.pagerfanta a:hover {
    color: #0056b3;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 20px;
    }

.footer-text {
    margin-top: 1em;
}

label {
    margin-right: 1em;
}

button {
    margin: 1em;
    color : #000000;
    border-radius: 0.5em;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

main-title:hover {
    text-decoration: none;
    color: #007bff !important;
}

.main-title-link {
    text-decoration: none;
}

.main-title-link:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #007bff !important;
}

.text-viewdetail{
    color: #ffffff;
}
h2.text-viewdetail{
    color: #ffffff;
}