/* Variables */
:root {
    --main-font: 'Roboto', sans-serif;
    --main-color: #ffffff;
    --link-color: #ffffff;
    --link-hover-color: #0056b3;
    --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hidden-on-mobile {
    display: flex;
}
li {
    color: #ffffff;
}
/* Common styles */
body,
.pagerfanta,
.footer-text,
.pagination__item,
.add_imagelink_list,
.add_videolink_list,
form label,
ul.imagelinks label,
ul.videolinks label {
    font-family: var(--main-font);
    color: var(--main-color);
}

a,
.pagerfanta .previous a,
.pagerfanta .next a,
.pagerfanta .first a,
.pagerfanta .last a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
.pagerfanta a:hover {
    color: var(--link-hover-color);
}

.text-shadow {
    text-shadow: var(--text-shadow);
}

nav.pagination span {
    margin: 0.1em;
}

/* Body */
body {
    background-image: url("../images/wooden.avif");
    background-color: #f5f5f5;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 30em 30em;
}

/* Image background */
.image-background {
    background-image: url("../images/snowboard-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 40em;
}

/* Position the catchphrase container to cover the whole section */
.catchphrase-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* Style the catchphrase text */
.catchphrase {
    font-size: 2em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Message top home */
.message_top_home,
h1 {
    color: var(--main-color);
    text-shadow: var(--text-shadow);
}

h1 {
    font-weight: bold;
}

/* Comment in view detail */
.card-text-comment {
    color: #6c757d;
}

/* Button success */
.btn-success,
.btn-success:hover {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

/* Trick grid */
.trick-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
}

.trick-container {
    width: 300px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #32638e;
    padding: 1em;
    padding-bottom: 2.4em;
    border-radius: 0.5em;
    overflow: hidden;
}

.trick-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Pagerfanta */
.pagerfanta .current {
    color: var(--main-color);
    background-color: var(--link-color);
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
}

.footer-text {
    margin-top: 1em;
}

/* Labels and buttons */
label {
    margin-right: 1em;
}

button {
    margin: 1em;
    color: #000000;
    border-radius: 0.5em;
}

/* Main title */
.main-title,
h2.text-viewdetail {
    font-family: var(--main-font);
    color: var(--main-color);
}

.main-title:hover,
.main-title-link:hover {
    text-decoration: none;
    color: var(--link-hover-color) !important;
}

.main-title-link {
    text-decoration: none;
}

.main-title-link:hover {
    text-shadow: var(--text-shadow);
}

/* Text view detail */
.text-viewdetail {
    color: var(--main-color);
}

/* Horizontal container */
.horizontal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin: 0 auto;
    padding: 1em;
    justify-content: flex-start;
    text-align: center;
}

/* Input group */
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1em;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#arrow-down,
#arrow-up {
    float: right;
}

#arrow-down ion-icon,
#arrow-up ion-icon {
    font-size: 2em;
}

#arrow-up {
    position: fixed;
    bottom: 120px;
    right: 10px;
}

#arrow-down {
    position: fixed;
    bottom: 200px;
    right: 10px;
}

.hidden {
    display: none !important;
}

.icons-bottom {
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: -24px;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 0.5em 0.5em 0 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icons-bottom-inside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.icon-size:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0.1em;
}

.card-actions {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.delete-edit-icon {
    font-size: 1.75em;
    color: #ffffff;
}

.delete-edit-icon:hover {
    color: var(--link-hover-color);
}

/* Media query for small screens (smartphones) */
@media (max-width: 768px) {

    #button-show-media{
        margin-bottom: 1em;
    }

    .image-background {
        background-image: url("../images/snowphone.jpg");
        background-size: inherit;
        background-position: center;
        height: 40em;
    }

    .trick-grid {
        grid-template-columns: 1fr;
    }

    .trick-container {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        background-color: #80BFE2;
    }

    .horizontal-container {
        padding: 1em 0.5em;
    }

    .icon-size {
        font-size: 3em;
    }

    .icon-create-trick {
        color: #218838;
    }

        .card-actions {
            margin-top: 1em;
            left: 1em;
            bottom: 8em;
            position: fixed;
        }

    #trick-grid {
        box-sizing: border-box;
        padding-bottom: 5em;
    }

}
    
@media (min-width: 769px) {
    .icons-bottom {
        display: none !important;
    }
}