{% block footer %}
    <footer class="footer m-5 border border-white rounded p-3 hidden-on-mobile">
        <p class="footer-text">&copy; {{'reserved_footer' | trans}}</p>
    </footer>
{% endblock %}
