{% extends 'base.html.twig' %}

{% block title %}Edit your trick{% endblock %}

{% block body %}
    <h1>Edit trick</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Save Changes">
    {{ form_end(form) }}
{% endblock %}
